@import url(/styles/header.css);
@import url(/styles/form.css);
@import url(/styles/navbar.css);

:root {
    --main-font: 'Montserrat', sans-serif;
    --black: #181818;
    --white: #fff;
    --light-blue: #91e2e2;
    --blue: #73d4d4;
    --cta-blue : #5caaaa;
    --gray: #c3c9cc;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

:any-link {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style-type:decimal;
  }

  .hero__main {

    width: 80%;
  }