.form__section {
    border: 2px solid var(--gray);
}

.form__tr {
    color: var(--black);
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__text {
    font-size: 1em;
    font-weight: 500;
}

.form__upload {
    display: flex;
    justify-content: center;
}

.form__div {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    display: none;
}

.label__button {
    padding: 10px 5px;
    background-color: var(--cta-blue);
    color: var(--white);
    justify-content: center;
    display: flex;
    margin-top: 10px;
    cursor: pointer;


    border-radius: 3px;
    width: 25vh;
    font-size: 1.2em;
    border-style: none;
}

.botton {
    border-radius: 3px;
    width: 25vh;
    
    font-size: 1.2em;
    
    border-style: none;
}

.blue {
    margin-top: 3vh;
    background-color: var(--blue);
    color: var(--black);
}

.table__section {
    margin-top: 100px;
    display: flex;
}

.list__div {
    border: 1px solid var(--black);
    width: 100vh;
    align-items: center;
    justify-content: center;
}