.header__container {
    width: 100%;
}

.header__class {
    height: auto;
    width: 100%;
    padding-left: 1em;
    font-size: 2.3em;
    font-style: italic;
    margin-bottom: 30px;
    background-color: var(--blue);
    color: var(--white);
}


.form__section {
    display: flex;
}
