
.details__div, .import__div {
    width: 40vw;
    margin: 30px 0px;
    text-align: center;
    border: 1px solid var(--gray);
    border-bottom: 2px solid var(--black);
    padding: 10px 0px;
    overflow: hidden;
}

.details__info__div {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
    align-items: center;
    margin-bottom: 15px;
}

.details__hero__paragraph {
    background: var(--light-gray);
    padding: .5rem;
    border-radius: 5px;
    border-right: 30px;
}

.section__h2 {
    font-size: 3rem;
    margin-top: 30px;
    font-weight: 400;
    text-align: center;
}

.import__div {
    width: 70vw;
}

.import__header, .import__row {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1.3fr 1fr 1fr 1fr;
    padding: 5px 0px;
}

.import__header {
    align-items: center;
    font-weight: bold;
    border-bottom: 2px solid var(--black);
}

.import__row:nth-child(odd) {
    background-color: var(--light-gray);
}
.import__row:nth-child(even) {
    background-color: var(--white);
}

.import__row p {
    text-align: center;
    margin: 0;
    padding: 5px;
}