.list__div {
  padding: 15px;
  border: 1px solid var(--black);
  width: 70vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.even__title {
  display: grid;
  grid-template-columns: 1.1fr 1.2fr 2.25fr 1fr;
  width: 100%;
}

.even__menu {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1.2fr 2.25fr 1fr;
  width: 100%;
  align-items: center;
}

.button__div {
  width: 100%;
}

.user__button {
  width: 15ch;
  height: 2rem;
  margin: 2px 0 2px 0;
  background: var(--blue);
  border-radius: 10px;
  border: none;
   cursor: pointer;
  }

.user__button:hover {
  background: var(--cta-blue);
  }
  
.red {
  color: var(--white);
  background: var(--red);
  }

.red:hover {
  background: var(--cta-red);
  }


.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}


.edit__div {
  position:absolute;
  top: 25vh;
  left: 25vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  background: var(--white);
  justify-content: center;
  border: 1px solid var(--black);
  }

.input__div {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.padding__left {
  padding-left: 15px;
}